html {
  background: url("../images/bg_light.png") no-repeat center top $global-background;
  font-family: $font-family-global;
  font-size: $font-size-global;
  font-weight: $font-weight-global;
  color: $font-color-global;
}

h2 {
  font-family: $font-family-global;
  font-size: $font-size-h2;
  color: $font-color-global;
}


/*Uikit theme restyling*/

.uk-width-medium {
  width: $width-sidebar;
}

.uk-light {
  color: $font-color-default;
}

.uk-logo {
  font-family: $font-family-global;
  font-size: $font-size-global;
  font-weight: $font-weight-global;
  color: $font-color-muted;
}

.uk-text-lead {
  padding-top: 10px;
  font-size: 46px;
  line-height: 1;
}

.uk-text-meta {
  font-size: 10px;
  opacity: 0.5;
}

.uk-text-small {
  font-size: $font-size-small;
}

.uk-text-large {
  font-size: $font-size-large;
}

.uk-text-bold {
  font-weight: $font-weight-thick;
}

.uk-text-primary {
  color: $font-color-primary!important;
}

.uk-text-muted {
  color: $font-color-muted!important;
}

.uk-button {
  height: 40px;
  padding: 0 20px;
  font-size: $font-size-small;
  font-weight: $font-weight-global;
  text-transform: none;
}

.uk-button-primary {
  background-color: $global-background;
  color: $font-color-default;
  border: 1px solid transparent;
  box-shadow: 0 15px 45px -12px $global-background;
}

.uk-button-primary:focus, .uk-button-primary:hover {
  background-color: darken($global-background, 10%);
  color: $font-color-default;
}

.uk-button-primary:disabled {
  background-color: #dde7eb;
  color: #c1cdd9;
  border-color: #c1cdd9;
  box-shadow: none;
}

.uk-button-default {
  background-color: transparent;
  color: #c1cdd9;
  border: 1px solid #c1cdd9;
}

.uk-button-default:focus, .uk-button-default:hover {
  background-color: transparent;
  color: #c1cdd9;
}

.uk-checkbox, .uk-radio {
  width: 24px;
  height: 24px;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked, .uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
  background-color: $global-background;
}

.uk-checkbox:focus, .uk-radio:focus {
  border-color: $global-background;
}

/* Theme global*/

.tm-opacity-70 {
  opacity: 0.7;
}

.tm-font-light {
  font-weight: $font-weight-thin;
}

.tm-font-tiny {
  font-size: $font-size-tiny;
}

.tm-border-rounded {
  border-radius: 500px;
}

/* Sidebar */

.tm-sidebar {
  padding: 30px 50px 60px;
}

.tm-sidebar-title {
  padding: 50px 0;
}

.tm-scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;

  .fa-play {
    font-size: 30px;
  }
}

.tm-scale-header {
  position: relative;
  padding-bottom: 90px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 2px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

/* Main */

.tm-main {
  overflow-x: hidden;
  padding: 20px 70px 20px 0;
}

.tm-content-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 787px;
  min-height: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.tm-content-decoration {
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 14px;
  bottom: 18px;
  width: calc(100% + 5px);
  max-width: 792px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + 14px);
    max-width: 801px;
    border-radius: 5px;
  }

  &::before {
    top: 48px;
    left: 26px;
    bottom: 48px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::after {
    top: 24px;
    left: 9px;
    bottom: 26px;
    background-color: rgba(255, 255, 255, 0.4);

  }
}

.tm-content {
  position: relative;
  z-index: 1;
  //color: #22294c; //#c1cdd9;
}

.tm-content-header {
  padding: 30px 0;
  border-bottom: 2px solid #a0dade;
}
.tm-content-inner {
  padding: 30px 0;

  label {
    display: block;
  }

  .uk-checkbox {
    margin-right: 15px;
  }
}

.tm-button-continue {
  margin-bottom: -95px!important;
}

.tm-button-next {
  white-space: nowrap;
}

.tm-answer {
  padding: 20px 0;
}

.tm-fact {
  padding: 80px 0 0;
}